*{
    margin: 0;
    padding: 0;

}


.logo{
    margin-top: 30px;
}
.logo h2{
    color: rgb(141, 141, 27);
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.logo h2 i{
    color: rgb(85, 85, 80);
    font-size: 2em;
}
body{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background: rgb(14, 13, 13);
}
.content{
    background: rgb(85, 85, 80);
    align-content: center;
    margin:100px auto;
    width:400px;
    height: 430px;
    border-radius: 20px;
}
.content h2{
    font-size: 1.3em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 60px;
}
.truth{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
}
.truth button{
    padding: 15px;
    margin: 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    font-size: 1.2em;
    text-transform: uppercase;
}
#display{
    display: none;
    background:#fff;
    color: rgb(14, 13, 13);
    margin: 20px;
    padding: 15px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;

}

.truth button:hover{
    line-height: 3px;
}
.angle{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgb(141, 141, 27);
    clip-path: circle(600px at left 900px);
}
@media screen and (max-width:1024px){
    .content{
        width: 300px;
        height: 350px;
        margin:90px auto;
        
    }
    .content h2{
        padding: 20px;
    }
    .angle{
        display: none;
    }
}
@media screen and (max-width:1078px){
    .angle{
        clip-path: circle(530px at left 900px);
    }
}